@inherits LayoutComponentBase

<PageTitle>To-Do List</PageTitle>

<div class="d-flex">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
    
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .sidebar {
        width: 280px;
    }

    main {
        flex-grow: 1;
    }
</style>
